<form>
<table width="55%">

<tr>

<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>

<td width="5%">&nbsp;</td>
<td colspan=3>welcome <%=h @member_name %>  to access to the t-shirt site: <%= @site_url %> .</td>
<td width="5%">&nbsp;</td>

</tr>

<tr>

<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>
<td width="5%">&nbsp;</td>
<td width="15%">Please use the following link to activate your access</td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>
<td width="5%">&nbsp;</td>
<td width="15%"><%= @site_url + "/activate/" + @rand_password %></td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>


<tr>
<td width="5%">&nbsp;</td>
<td colspan=3 rowspan=2>Otherwise please disregard this email if you have received it in error....</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>
<td width="5%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>

<tr>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
<td width="15%">&nbsp;</td>
<td width="5%">&nbsp;</td>
</tr>
</table>


</form>
